.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Homepage_result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    margin-top: 2rem;
}

.button {
    min-height: 2.5rem;
    font-weight: bolder;
    padding: 1rem 1rem;
}