.undo {
    margin-bottom: 2rem;
}

.board_turn {
    color: white;
    margin-bottom: 2rem;
}

.Board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board_row {
    display: flex;
}

.board_cell {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid black;
    background-color: white;
}